GEMINI_TTS_VOICE=Kore
GEMINI_TTS_MODEL=gemini-2.5-flash-preview-tts

# LOG_LEVEL=DEBUG
LOG_LEVEL=INFO

# F5TTS
F5TTS_TIMEOUT_SECONDS=300

# Rate limit
RATE_LIMIT_REQUESTS=60
RATE_LIMIT_WINDOW_SECONDS=60
